//
// Common styles.

html{

    font-size: $font-size-root;
    font-family: $font-primary;
    line-height: 1.375em;
}

body{

    color: $color-gray-2;
    font-size: $font-size-sm;
    font-family: $font-primary;
    line-height: 1.375em;
    background-color: $color-white;
    margin: 0;
    padding: 0 0 15em;
    background-image: url('../images/bg.svg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center center; 
}

.tc-loader{

    position: relative;

    &:after{

        content: '';
        position: absolute;
        z-index: 999999;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(#ffffff, 0.3);
        background-image: url('../images/loader.gif');
        background-repeat: no-repeat;
        background-position: center center;
    }
}









.tc-chip{

    display: inline-block;
    margin: 0.4em;
    border: 1px solid $color-gray-3;
    background-color: #ffffff;
    transition: all 0.2s;
    border-radius: 10em;
    padding: 0 0.8em;
    line-height: 1.5;
    cursor: pointer;

    &:hover{

        background-color: $color-gray-9;
    }

    &.tc-selected{

        background-color: $color-blue;
        color: #ffffff;
        border-color: $color-blue;
    }
}









.tc-page{

    box-shadow: rgba(#000000, 0.15) 0px 0px 8px;
    background-color: #ffffff;
}










#tc-head-bar{

    background-color: #000000;
    height: 60px;
    padding-top: 8px;
    padding-bottom: 8px;

    svg{

        height: 100%;
    }
}









.tc-section-header{

    background-color: $color-gray-3;
    color: $color-primary;
    padding: 0.4em 0 0.4em 1em;
    line-height: 1;

    .tc-icon{

        padding-right: 1em;

        img{

            width: 1.2em;
        }
    }

    .tc-title{

        padding-right: 1em;
    }

    .tc-line{

        border-top: 1px solid $color-primary;
    }
}









.tc-chips-holder{

    padding: 1.2em 3.2em 2.2em;
    font-size: 0.8em;
}









#tc-exchanges{

    //
}









#tc-arbitrage-pairs{

    //
}









#tc-main-control-bar{

    background-color: $color-gray-3;
    color: $color-primary;
    line-height: 1;
    padding: 0.8em 0;
    font-size: 0.8em;

    .tc-control{

        .tc-icon{

            padding-right: 0.8em;

            img{

                width: 1.5em;
            }
        }

        .tc-label{

            padding-right: 0.8em;
        }

        .tc-input{

            padding-right: 0.8em;

            .tc-input-ele{

                height: 2.2em;
                line-height: 2.2em;
                padding: 0.5em;
                border: none;
                background-color: #ffffff;
                border-radius: 5px;
                outline: none;
            }
        }
    }

    .tc-action-button{

        line-height: 2.2em;
        padding: 0 1em;
        background-color: $color-blue;
        border-radius: 5px;
        color: #ffffff;
        border: none;
        cursor: pointer;
        outline: none;

        &[disabled=disabled]{

            cursor: default;
        }
    }
}









#tc-charts{

    margin-top: 1em;
}









.tc-charts-group{

    padding: 1em;
    border-bottom: 2px dashed $color-gray-8;
    background-color: #ffffff;

    &:last-child{

        border-bottom: none;
    }

    h1{

        font-size: 3em;
        text-align: center;
        margin-bottom: 2em
    }
}




.tc-warning{

    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: $color-yellow;
    color: #000000;
    text-align: center;
    font-size: 0.9em;
    padding: 0.3em 1em;
    font-weight: 700;
}