
.tc-modal-wrapper{

    position: fixed;
    z-index: 999999;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(#000000, 0.5);

    .modal-content{

        padding: 1em 0;
    }
}

#chart-config-modal{

    position: absolute;
    z-index: 999999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 90%;
    overflow: auto;
    background-color: #000000;
    box-shadow: rgba(#000000, 0.5) 0px 0px 12px;
    box-sizing: border-box;

    .tc-modal-title{

        margin: 0;
        padding: 0;
        text-align: center;
        color: #ffffff;
    }

    .tc-user-input{

        border: none;
        border-bottom: 1px solid #000000;
        outline: none;
        text-align: center;
        height: 1.5em;
        background-color: transparent;
        margin: 0 0.6em;
    }

    .tc-modal-btn{

        background-color: darken($color-blue, 10%);
        color: #ffffff;
        padding: 0.3em 0.6em;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .tc-plot{

        background-color: #efefef;
        border: 1px solid #cccccc;
        box-shadow: rgba(0,0,0,0.15) 0px 0px 5px;
        margin: 0 0 1em;

        .tc-conf-sec{

            padding: 0.8em 0;

            &:nth-child(even){

                background-color: #ffffff;
            }
        }

        .tc-conf-label{

            margin: 0;
            padding: 0;
        }

        .tc-plot-heading{

            margin: 0;
        }
    }

    .modal-head{

        height: 12%;
        overflow: hidden;
    }

    .modal-body{

        box-sizing: border-box;
        padding: 1.5em 0;
        height: 76%;
        overflow: auto;
        background-color: #ffffff;
    }

    .modal-foot{

        height: 12%;
        overflow: hidden;
    }

    .tc-close-btn{

        position: absolute;
        top: 5px;
        right: 5px;
    }
}