<div class="tc-modal-wrapper">
    <div id="chart-config-modal">

        <div class="tc-close-btn" ng-click="modalCtrl.closeModal()" style="cursor: pointer;">
            <svg style="height: 1em;" viewBox="0 0 1792 1792"><path d="M1490 1322q0 40-28 68l-136 136q-28 28-68 28t-68-28l-294-294-294 294q-28 28-68 28t-68-28l-136-136q-28-28-28-68t28-68l294-294-294-294q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 294 294-294q28-28 68-28t68 28l136 136q28 28 28 68t-28 68l-294 294 294 294q28 28 28 68z" fill="red"/></svg>
        </div>

        <!-- Head -->
        <div class="modal-head">
            <div class="container-fluid" style="height: 100%;">
                <div class="row align-items-center justify-content-center" style="height: 100%;">
                    <div class="col">
                        <h2 class="tc-modal-title">Chart {{modalCtrl.actualConfigRef?'Settings':'Configurations'}}</h2>
                    </div>
                </div>
                
            </div>
        </div>
        <!-- Body -->
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-auto">
                        <b>Chart Height (px)</b>
                    </div>
                    <div>
                        <input type="text" class="tc-user-input" ng-model="chartConfig.height">
                    </div>
                </div>

                <hr>

                <!-- Plot -->
                <div class="tc-plot" ng-repeat="plot in chartConfig.plots">
                    <div class="tc-conf-sec">
                        <div class="container-fluid">
                            <h3 class="tc-plot-heading">
                                Plot #{{$index+1}}

                                <div style="float: right; cursor: pointer;" ng-click="modalCtrl.removePlot(plot)" ng-if="$index>0">
                                    <svg viewBox="0 0 1792 1792" style="height: 1em;"><path d="M704 1376v-704q0-14-9-23t-23-9h-64q-14 0-23 9t-9 23v704q0 14 9 23t23 9h64q14 0 23-9t9-23zm256 0v-704q0-14-9-23t-23-9h-64q-14 0-23 9t-9 23v704q0 14 9 23t23 9h64q14 0 23-9t9-23zm256 0v-704q0-14-9-23t-23-9h-64q-14 0-23 9t-9 23v704q0 14 9 23t23 9h64q14 0 23-9t9-23zm-544-992h448l-48-117q-7-9-17-11h-317q-10 2-17 11zm928 32v64q0 14-9 23t-23 9h-96v948q0 83-47 143.5t-113 60.5h-832q-66 0-113-58.5t-47-141.5v-952h-96q-14 0-23-9t-9-23v-64q0-14 9-23t23-9h309l70-167q15-37 54-63t79-26h320q40 0 79 26t54 63l70 167h309q14 0 23 9t9 23z" fill="red"/></svg>
                                </div>
                            </h3>
                        </div>
                    </div>

                    <div class="tc-conf-sec">
                        <div class="container-fluid">
                            <div class="row no-gutters align-items-center">
                                <div><h5 class="tc-conf-label">Height (%):</h5></div>
                                <div>
                                    <input type="text" placeholder="Plot height" class="tc-user-input" ng-model="plot.height">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Series -->
                    <div class="tc-conf-sec" ng-repeat="s in plot.series">
                        <div class="container-fluid">
                            <div class="row align-items-center">
                                <div class="col-auto">{{$index+1}}.</div>
                                <div class="col-auto">{{s.label}}</div>
                                <div class="col-auto" ng-repeat="arg in s.args">
                                    <div class="row no-gutters align-items-center">
                                        <div>{{arg.label}}:</div>
                                        <div>
                                            <input type="text" class="tc-user-input" ng-model="arg.value">
                                        </div>
                                    </div> 
                                </div>
                                <div class="col"></div>
                                <div class="col-auto">
                                    <div style="cursor: pointer;" ng-click="modalCtrl.removeSeries(s,plot)">
                                            <svg viewBox="0 0 1792 1792" style="height: 1em;"><path d="M704 1376v-704q0-14-9-23t-23-9h-64q-14 0-23 9t-9 23v704q0 14 9 23t23 9h64q14 0 23-9t9-23zm256 0v-704q0-14-9-23t-23-9h-64q-14 0-23 9t-9 23v704q0 14 9 23t23 9h64q14 0 23-9t9-23zm256 0v-704q0-14-9-23t-23-9h-64q-14 0-23 9t-9 23v704q0 14 9 23t23 9h64q14 0 23-9t9-23zm-544-992h448l-48-117q-7-9-17-11h-317q-10 2-17 11zm928 32v64q0 14-9 23t-23 9h-96v948q0 83-47 143.5t-113 60.5h-832q-66 0-113-58.5t-47-141.5v-952h-96q-14 0-23-9t-9-23v-64q0-14 9-23t23-9h309l70-167q15-37 54-63t79-26h320q40 0 79 26t54 63l70 167h309q14 0 23 9t9 23z" fill="red"/></svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Series -->

                    <div class="tc-conf-sec">
                        <div class="container-fluid">
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <select class="tc-user-input" ng-model="seriesToAdd">
                                        <option value="">--Choose Series--</option>
                                        <option ng-value="ind" ng-repeat="ind in indicators">{{ind.label}}</option>
                                    </select>
                                </div>
                                <div class="col-auto">
                                    <button class="tc-modal-btn" ng-click="modalCtrl.addSeries(seriesToAdd,plot)">+ Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /plot -->
            </div>
        </div>
        <!-- Foot -->
        <div class="modal-foot">

            <div class="container-fluid" style="height: 100%;">
                <div class="row no-gutters align-items-center justify-content-center" style="height: 100%;">
                    <div class="col">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <button class="tc-modal-btn" ng-click="modalCtrl.addPlot()">+ Add Additional Plot</button>
                            </div>
                            <div class="col"></div>
                            <div class="col-auto" ng-if="!modalCtrl.actualConfigRef" ng-init="modalCtrl.rememberConfig = true">
                                <div class="row no-gutters">
                                    <div class="col-auto">
                                        <input type="checkbox" ng-model="modalCtrl.rememberConfig">
                                    </div>
                                    <div class="col-auto" style="color: #ffffff;">
                                        Remember settings.
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <button class="tc-modal-btn" ng-click="modalCtrl.applyConfig(modalCtrl.rememberConfig)">Apply</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>