<!DOCTYPE html>
<html lang="en" ng-app="tickercoin">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="description" content="Page description">

    <!-- pixelCode:google-site-verification-code-meta -->

    <title>Ticker coin</title>

    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">

    <!-- build:css assets/css/lib.css -->
    <!-- Libraries -->
    <link rel="stylesheet" href="assets/libs/node_modules/bootstrap/dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="assets/libs/node_modules/anychart/dist/css/anychart-ui.min.css">
    <!-- Libraries -->
    <!-- endbuild -->

    <!-- build:css assets/css/main.css -->
    <!-- inject:css -->
    <link rel="stylesheet" href="assets/css/main.css">
    <!-- endinject -->
    <!-- endbuild -->

    <!-- pixelCode:google-tags-manager -->
    <!-- pixelCode:facebook-pixel-code -->
</head>
<body ng-controller="TickerCoinCtrl as tcCtrl">

    <!-- pixelCode:google-tags-manager-noscript-body -->









    <!-- Exchanges -->
    <div id="tc-exchanges">
        <div class="container">
            <h3>Exchanges</h3>
            <div class="tc-box">
                <div class="row">
                    <div class="col-auto" ng-repeat="exchange in tcCtrl.exchanges">
                        <div class="tc-exchange">
                            <input type="checkbox" ng-checked="tcCtrl.selectedExchanges.indexOf(exchange) > -1" ng-click="tcCtrl.toggleExchangeSelection(exchange)">
                            {{exchange}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <!-- /Exchanges -->









    <!-- Arbitrage pairs (Markets) -->
    <div id="tc-arbitrage-pairs" ng-class="{'tc-loader': tcCtrl.loadingPairs>0}">
        <div class="container">
            <h3>Arbitrage Pairs</h3>
            <div class="tc-box">
                <div class="row">
                    <div class="col-auto" ng-repeat="pair in tcCtrl.arbitragePairs">
                        <input type="checkbox" ng-checked="tcCtrl.selectedPairs.indexOf(pair) > -1" ng-click="tcCtrl.togglePairSelection(pair)">
                        {{pair.symbol}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Arbitrage pairs (Markets) -->









    <!-- <div><br></div>
    <div class="container" style="text-align: center;">
        <button ng-click="tcCtrl.pairsToPlot = tcCtrl.selectedPairs" ng-disabled="!tcCtrl.selectedPairs.length">Plot</button>
    </div> -->









    <!-- Charts -->
    <div id="tc-charts">
        <div class="container">
            <h3>Charts <small><i>(<u>Groupped by currency pair</u>)</i></small></h3>
            <div class="tc-box">
                <div class="row">
                    <div class="col-12" ng-repeat="pair in tcCtrl.pairsToPlot">
                        <h1 style="text-align: center;">{{pair.symbol}}</h1>
                        <div tc-any-chart="pair"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Charts -->










    <!-- build:js assets/js/lib.js -->
    <!-- Libraries -->
    <script src="assets/libs/node_modules/anychart/dist/js/anychart-base.min.js"></script>
    <script src="assets/libs/node_modules/anychart/dist/js/anychart-table.min.js"></script>
    <script src="assets/libs/node_modules/anychart/dist/js/anychart-stock.min.js"></script>

    <script src="assets/libs/node_modules/angular/angular.min.js"></script>
    <!-- /Libraries -->
    <!-- endbuild -->

    <!-- build:js assets/js/main.js -->
    <!-- inject:js -->
    <script src="assets/js/main.js"></script>
    <!-- endinject -->
    <!-- endbuild -->

    <!-- pixelCode:google-analytics -->
    <!-- pixelCode:hotjar-tracking-code -->
</body>
</html>